@use '@angular/material' as mat;

@import './app/navbar/navbar-theme';
@import './app/footer/footer-theme';
@import '../../src/daterangepicker/daterangepicker-theme.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.all-component-typographies(mat.m2-define-typography-config());
@include mat.core();
@include mat.typography-hierarchy(
    mat.m2-define-typography-config($headline-1: mat.m2-define-typography-level(42px, 42px, 100)),
    '.custom-typography'
);

.mycustomdate {
    background-color: #ccc8c8 !important;
    border-radius: 1px !important;
    color: white !important;
}

.first-day {
    background-color: greenyellow;
}

.last-day {
    background-color: green;
}

.empty-week {
    background-color: rosybrown;
}

.last-previous-day {
    background-color: rgb(218, 226, 145);
}

.first-next-day {
    background-color: rgb(229, 255, 0);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;

    &.s6 {
        width: 50%;
    }

    &.s12 {
        width: 100%;
    }
}

.col + .col {
    margin-left: 8px;
}

mat-toolbar {
    margin-bottom: 24px !important;
}

// Styles for the docs app that are based on the current theme.
@mixin material-docs-app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .docs-app-background {
        background: white;
    }

    body {
        color: black;
    }

    .docs-footer {
        background: white;
        color: black;
    }

    .is-next-version {
        background: red !important;
    }

    @include nav-bar-theme($theme);
    @include footer-theme($theme);
    @include date-range-picker-theme($theme);
}

// Define the light theme.
// Define a light theme
$theme: mat.m2-define-light-theme(
    (
        color: (
            primary: mat.m2-define-palette(mat.$m2-indigo-palette),
            accent: mat.m2-define-palette(mat.$m2-pink-palette),
        ),
    )
);

@include material-docs-app-theme($theme);
