@use '@angular/material' as mat;

@import '../../styles.scss';

// Define the light theme.
$primary: mat-palette(mat.$m2-indigo-palette);
$accent: mat-palette(mat.$m2-pink-palette, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
